<div>
	<h5>1. Select participant</h5>
	<div class="row equal">
		<div ng-repeat="(id, participant) in participants" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">
			<a class="thumbnail text-center" ng-click="selectUser(id)" ng-class="{active: selected.participant.$id === id}">
				<gravatar-image class="gravatar" data-gravatar-email="participant.email" data-gravatar-size="64" data-gravatar-default="identicon" data-gravatar-css-class="img-circle" data-gravatar-secure="1"></gravatar-image>
				<h4 class="text-center">{{participant.name}}</h4>
				<h5 class="text-center">{{participant.points.current}} <span class="glyphicon glyphicon-thumbs-up"></span></h5>
			</a>
		</div>
	</div>
	<h5>2. Select perk</h5>
	<div class="row equal">
		<div ng-repeat="perk in perks | orderByPriority" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">
			<a class="perk thumbnail text-center" ng-click="selectPerk(perk.$id)" ng-class="{active: selected.perk.$id === perk.$id}">
				<p class="value">{{perk.points}} <span class="glyphicon glyphicon-thumbs-up"></span></p>
				<p>{{perk.name}}</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10">
			<div class="alert alert-info" ng-show="selected.participant && selected.perk && sufficient"><span class="glyphicon glyphicon-info-sign"></span> <strong>{{selected.participant.name}}</strong> will redeem <strong>{{selected.perk.name}}</strong> for <strong>{{selected.perk.points}} <span class="glyphicon glyphicon-thumbs-up"></span></strong></div>
			<div class="alert alert-danger" ng-show="selected.participant && selected.perk && !sufficient"><span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{selected.participant.name}}</strong> doesn\'t have <strong>{{selected.perk.points}} <span class="glyphicon glyphicon-thumbs-up"></span></strong></div>
		</div>
		<div class="col-xs-2">
			<button type="button" class="btn btn-lg btn-success pull-right" ng-click="save()" ng-disabled="!selected.participant || !selected.perk || !sufficient">Save</button>
		</div>
	</div>
</div>
