<div>
	<h5>1. Select participant</h5>
	<div class="row equal">
		<div ng-repeat="participant in participants" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">
			<a class="thumbnail text-center" ng-click="selectUser(participant.$id)" ng-class="{active: selected.participant.$id === participant.$id}">
				<gravatar-image class="gravatar" data-gravatar-email="participant.email" data-gravatar-size="64" data-gravatar-default="identicon" data-gravatar-css-class="img-circle" data-gravatar-secure="1"></gravatar-image>
				<h4 class="text-center">{{participant.name}}</h4>
			</a>
		</div>
	</div>
	<h5>2. Select reward</h5>
	<div class="row equal">
		<div ng-repeat="reward in rewards" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">
			<a class="reward thumbnail text-center" ng-click="selectReward(reward.$id)" ng-class="{active: selected.reward.$id === reward.$id}">
				<p class="value">{{reward.points}} <span class="glyphicon glyphicon-thumbs-up"></span></p>
				<p>{{reward.name}}</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10">
			<div class="alert alert-info" ng-show="selected.participant && selected.reward"><span class="glyphicon glyphicon-info-sign"></span> <strong>{{selected.participant.name}}</strong> will earn <strong>{{selected.reward.points}} <span class="glyphicon glyphicon-thumbs-up"></span></strong> for <strong>{{selected.reward.name}}</strong></div>
		</div>
		<div class="col-xs-2">
			<button type="button" class="btn btn-lg btn-success pull-right" ng-click="save()" ng-disabled="!selected.participant || !selected.reward">Save</button>
		</div>
	</div>
</div>
